*, *::after, *::before {
    box-sizing: border-box;
}

.tournamentViewport {
    margin-top: 15vh;
    overflow: auto;
    max-height: 700px;
}

.tournamentDisplay {
    background-color: #3d525c;
    display: flex;
    flex-flow: row nowrap;
}

.round {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
}

.round:first-child .playerContainer::before {
    display: none;
}

.round:first-child .player::before {
    display: none;
}

.round:last-child .playerContainer::after {
    display: none;
}