.player {
    background-color: #ffffff9f;
    border: 2px solid #111111;
    width: 100%;
    height: 30px;
    position: relative;
    color: #111111;
    text-align: center;
    line-height: 1;
    line-height: 26px;
    font-weight: 700
}

.playerButton {
    background-color: #09c9d6;
}

.player::before {
    content: "";
    display: block;
    width: 10px;
    border-bottom: 3px solid #111111;
    border-radius: 3px;
    margin-left: -3px;
    position: absolute;
    top: 50%;
    left: -10px;
}

.bye {
    background-color: #88888877;
}