#formStyles {   
    color: rgba(0, 0, 0, 0.54);
    border-radius: 24px;
    border: 2px solid #D3D3D3;
    height: 25px;
    padding: 8px 1px 12px 20px;
    width: 70%;
    background-color: #f7f7f7;
    transition: background 0.2s, width .2s;
    margin-top: 10px;
    
}

#formStyles:focus {
    border: 2px solid rgb(62, 136, 211);
    border-radius: 25px;
}

.header{ 
    font-family: 'Asap', sans-serif;
    font-size: 40px;
}
.tags {
    font-family: 'Anaheim', sans-serif !important;
    font-size: 25px;
    color: black;
}