.playerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    padding: 30px 0;
    flex-grow: 1;
    position: relative;
}

.playerContainer::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 3px solid #111111;
    border-radius: 0px 3px 3px 0px;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -15px;
    margin-left: -3px;
}

.playerContainer:nth-child(odd)::after {
    content: "";
    display: block;
    border: 3px solid transparent;
    border-radius: 3px;
    border-top-color: #111111;
    border-right-color: #111111;
    height: 50%;
    position: absolute;
    right: -10px;
    width: 10px;
    top: 50%;
}

.playerContainer:nth-child(even)::after {
    content: "";
    display: block;
    border: 3px solid transparent;
    border-radius: 3px;
    border-bottom-color: #111111;
    border-right-color: #111111;
    height: 50%;
    position: absolute;
    right: -10px;
    width: 10px;
    bottom: 50%;
}